
/* FONTS SETUPS */

@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}


:root {
    /* NEUTRAL */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    /* PRIMARY */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%)
    font-family: 'Inter', Arial, sans-serif; 
}



* {

    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    margin: 80px;
}

a{
    text-decoration: none;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
}


@media (max-width:527px) {

    body {
        margin: 20px 0;
        overflow-x: hidden;
    }
}






