/* FONTS SETUPS */
@font-face {
    font-family: Inter;
    src: url(https://fonts.google.com/specimen/Inter);
}

:root {
    /* NEUTRAL */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    /* PRIMARY */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%)
}

* {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    padding: 80px;
}

a{
    text-decoration: none;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
}






