body {
    background-color: var(--Off-white);
}

:where(.navbar, nav .nav, .container, main .news-wrapper, main .news-wrapper .news, .bottom-news, main .navbar-aside ul, main #navbar-aside, main #navbar-aside .btn-wrapper) {
    display: flex;
    /* border: 1px solid red; */
}

.filter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: hsla(240, 100%, 5%, 0.5);
    display: none;
}

.filter.show {
    display: block;
}

.spacer {
    height: 1.5px;
    width: auto;
    background-color: var(--Off-white);
}

.container {
    width: 1100px;
    margin: auto;
    margin-bottom: 50px;
    flex-direction: column;
}

/* NAVIGATION STYLES START */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-button button span {
    transition: 300ms;
    font-size: 34px;
    color: var(--Very-dark-blue);
}

.navbar .nav-button button span:hover {
    color: var(--Soft-orange);
}

.navbar .nav-button {
    display: none;
}


nav .nav {
    gap: 50px;

}

nav .nav a {
    color: var(--Dark-grayish-blue);
    transition: 300ms;
}

nav .nav a:hover {
    color: var(--Soft-orange);
}



/* NAVIGATION STYLES FINAL */

/* NEWS STYLE START  */



main #navbar-aside {
    flex-direction: column;
    gap: 50px;
    width: 60%;
    position: absolute;
    z-index: 1;
    background-color: var(--Off-white);
    height: 100%;
    right: -60%;
    top: 0;
    display: none;
}

main #navbar-aside .btn-wrapper {
    justify-content: end;
    padding: 20px;
}


main #navbar-aside #close-btn span {
    font-size: 48px;
    transition: 300ms;
}

main #navbar-aside #close-btn span:hover {
    color: var(--Soft-orange);
}

main #navbar-aside ul {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-left: 40px;
}

main #navbar-aside ul li a {
    color: var(--Very-dark-blue);
    font-size: 1.1rem;
    transition: 300ms;
}

main #navbar-aside ul li a:hover {
    color: var(--Soft-orange);
}

main .news-wrapper {
    gap: 45px
}

main .news-wrapper>div {
    flex-basis: 0;
}

main .news-wrapper .news {
    flex-flow: column;
    flex-grow: 2.5;
    gap: 25px;
}

main .news-wrapper .news-aside {
    flex-grow: 1;
}

.news .content {
    display: flex;
    gap: 50px;
    height: 180px;
}

.news .content .title {
    font-size: 30px;
    color: var(--Very-dark-blue);
    flex-basis: 47%;
    line-height: 1;
}

.news .content .description {
    display: flex;
    flex-flow: column;
    flex-basis: 53%;
    justify-content: space-between;

}

.news .content .description p {
    text-align: left;
    color: var(--Dark-grayish-blue);
}

main .news .thumb #thumb-img {
    width: 100%;
}

main .news .content .btn {
    background-color: var(--Soft-red);
    width: 50%;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    color: var(--Off-white);
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* ASIDE NEWS STYLE START*/
main .news-aside {
    background-color: var(--Very-dark-blue);
    padding: 20px 20px 80px 20px;
}

main .news-aside h2 {
    font-size: 40px;
    color: var(--Soft-orange);
    margin-bottom: 20px;
}

main .news-aside p {
    font-weight: 100;
}

main .news-aside .news-list h3 {
    margin-bottom: 10px;
}

main .news-aside a {
    color: var(--Off-white);
}

main .news-aside .news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 30px;
}

/* ASIDE NEWS STYLE FINAL*/

/* BOTTOM NEWS STYLE START */
.bottom-news .item img {
    float: left;
    height: 120px;
    margin-right: 10px;
}

.bottom-news .item h3 {
    font-size: xx-large;
    color: var(--Grayish-blue);
}

.bottom-news .item:not(h3) {
    color: var(--Very-dark-blue);
}

/* BOTTOM NEWS STYLE FINAL */

/* MEDIA QUERIES START */

@media (max-width:527px) {

    :where(main .news-wrapper, main .news-wrapper .news, .bottom-news, .news .content) {
        flex-direction: column;
    }

    body {
        padding: 50px 0;
        overflow-x: hidden;
    }

    main #navbar-aside.show {
        right: 0;
        display: block;
    }


    .container {
        width: 375px;
    }

    .news .content .description, .news .content .title {
        flex-basis: 0;
    }

    .nav {
        display: none;
    }

    main .news-aside {
        padding-bottom: 100px;
    }

    main .news-wrapper {
        justify-content: space-around;
    }

    .bottom-news {
        gap: 50px;
    }

    .navbar .nav-button {
        display: block;
    }



    main .news-wrapper .news .content {
        height: auto;
    }

    main .news-wrapper .news .content .btn {
        margin: 20px 0 0 0;
    }
}